.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: auto;
}

.Cm_A {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.Cm_A1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.Cm_A1 a {
    text-decoration: none;
    color: #232933;
}

.Cm_A2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.Cm_B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    margin: 0px 0px 5px 0px;
    width: 100%;
    height: 70px;
}

.Cm_B Form {
    display: flex;
    align-items: center;
}

.Cm_Bad {
    color: #DDDDDD;
}

.Cm_C {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    background-color: #EEEEEE;
    width: 100%;
    height: 50px;
    margin: 5px;
    border-radius: 3px;
}

.task1 {
    display: flex;
    padding: 10px;
}
.task2 {
    display: flex;
    padding: 10px;
}
.task3 {
    display: flex;
    padding: 10px;
}

form input {
    padding: 10px;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.formEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 70px;
}